{% extends 'base.html' %}

{% block content %}
<br>
<h4 align="center">{{ user }}'s cart</h4>
<div style="margin-left:auto;margin-right:auto;border-spacing:20px;padding:10px">
    {% if is_empty %}
        <p>Your cart is empty</p>
        <a href="/">
            <button class="btn btn-primary">Go to Home page</button>
        </a>
    {% endif %}
    {% for product in cart_list %}
    <li class="list-group-item" style="margin-left:10px;margin-right:10px;">
        <p>
            {{ product_list[product.product_id - 1].name }}
            {% if product.quantity > 1 %}
            ({{ product.quantity }})
            {% endif %}
        </p>
        <div class="cart-btns">
            <form method="POST">
                <button type="submit" class="btn btn-primary cart-btn" value="{{ product.product_id }}"
                        name="product_delete">
                    Remove
                    from cart
                </button>
            </form>
            <form method="POST">
                <input type="hidden" value="{{ product.product_id }}" name="product_remove_one">
                <button type="submit" class="btn btn-primary cart-btn">-1</button>
            </form>
            <form method="POST">
                <input type="hidden" value="{{ product.product_id }}" name="product_add_one">
                <button type="submit" class="btn btn-primary cart-btn">+1</button>
            </form>
        </div>
    </li>
    {% endfor %}
    <br>
    {% if not is_empty %}
        <div style="border-spacing:20px;padding:10px" align="center">
            <a href="/submit">
                <button class="btn btn-primary">Submit</button>
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}